---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: pttg-maintenance
  labels:
    version: {{.VERSION}}
spec:
  replicas: 2
  selector:
    matchLabels:
      name: pttg-maintenance
  strategy:
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 2
    type: RollingUpdate
  template:
    metadata:
      labels:
        name: pttg-maintenance
        version: {{.VERSION}}
    spec:
      imagePullSecrets:
      - name: registrykey
      containers:
      - name: vault-sidekick
        image: quay.io/ukhomeofficedigital/vault-sidekick:v0.2.0
        imagePullPolicy: Always
        resources:
         limits:
          memory: "100Mi"
          cpu: 100m
         requests:
          memory: "50Mi"
          cpu: 100m
        args:
          - -output=/etc/nginx/secrets
          - -tls-skip-verify=true
          - -cn=pki:services/${NAMESPACE}/pki/issue/default:common_name=pttg-maintenance.${NAMESPACE}.svc.cluster.local,file=/etc/nginx/secrets/pttg-maintenance,fmt=bundle
        env:
          - name: VAULT_ADDR
            value: "https://vault.vault.svc.cluster.local:8200"
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: VAULT_TOKEN
            valueFrom:
              secretKeyRef:
                name: store-token
                key: token
        volumeMounts:
          - mountPath: /etc/nginx/secrets
            name: secrets
      - name: proxy
        image: quay.io/ukhomeofficedigital/nginx-proxy:v1.5.1
        imagePullPolicy: Always
        resources:
         limits:
          memory: "100Mi"
          cpu: 100m
         requests:
          memory: "50Mi"
          cpu: 100m
        env:
          - name: PROXY_SERVICE_HOST
            value: '127.0.0.1'
          - name: PROXY_SERVICE_PORT
            value: '8080'
          - name: NAXSI_USE_DEFAULT_RULES
            value: 'FALSE'
          - name: ENABLE_UUID_PARAM
            value: 'FALSE'
          - name: HTTPS_REDIRECT
            value: 'FALSE'
          - name: SERVER_CERT
            value: /etc/nginx/secrets/pttg-maintenance-bundle.pem
          - name: SERVER_KEY
            value: /etc/nginx/secrets/pttg-maintenance-key.pem
          - name: ADD_NGINX_SERVER_CFG
            #value: "location /htmlstatic {alias /htmlstatic;}"
            #value: "location / {rewrite ^ /htmlstatic/index.html break;}"
            value: "location /htmlstatic {alias /htmlstatic;}; error_page 404 /htmlstatic/index.html;"
        volumeMounts:
          - name: secrets
            mountPath: /etc/nginx/secrets
            readOnly: true
          - name: htmlstatic
            mountPath: /htmlstatic
            readOnly: true
        ports:
          - name: https
            containerPort: 443
      - name: pttg-maintenance
        image: quay.io/ukhomeofficedigital/pttg-maintenance:{{.VERSION}}
        resources:
          limits:
            cpu: 300m
            memory: 1024Mi
          requests:
            cpu: 200m
            memory: 512Mi
        ports:
          - name: http
            containerPort: 8080
        imagePullPolicy: Always
        volumeMounts:
          - name: htmlstatic
            mountPath: /htmlstatic
            readOnly: false
      volumes:
      - name: secrets
        emptyDir:
          medium: "Memory"
      - name: htmlstatic
        emptyDir:
          medium: "Memory"
